
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 96, 96);
}

nav {
    width: 400px;
    text-align: center;
}

.menu-list {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
}

.menu-list li {
    padding: 5px;
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    margin: 15px 0px;
}